* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.input {
    transition: border 0.2s ease-in-out;
    min-width: 280px
}

.input:focus+.label,
.input:active+.label,
.input.filled+.label {
    font-size: .75rem;
    transition: all 0.2s ease-out;
    top: -0.9rem;
    background-color: #fff;
    color: #1a73e8;
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}

.label {
    transition: all 0.2s ease-out;
    top: 0.4rem;
    left: 0;
}